<!-- FOOTER -->
<footer class="footer py-5">
    <div class="container">
         <div class="row">

              <div class="col-lg-12 col-12">                                
                  <p class="copyright-text text-center">Copyright &copy; 2022 Kyl Corp . All rights reserved</p>
                  <p class="copyright-text text-center">Designed by <a rel="nofollow" target="_blank" href="https://discord.com/users/703112459313217556">Kyl</a></p>
              </div>
              
         </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/jQuery.headroom.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>
<script src="https://kit.fontawesome.com/ce9e4619d8.js" crossorigin="anonymous"></script>

</body>
</html>