<%- include("partials/head") %>


<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Wes</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                </li>
                <li class="nav-item">
                    <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-lg-auto">
                <div class="ml-lg-4">
                    <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- ABOUT -->
<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <small class="small-text">The prophecies were real, <span class="mobile-block"> welcome to my
                            portfolio website!</span></small>
                    <h1 class="animated animated-text">
                        <span class="mr-2">Hello peeps, I'm</span>
                        <div class="animated-info">
                            <span class="animated-item">Wes</span>
                            <span class="animated-item">An Engineer</span>
                            <span class="animated-item">UI Specialist</span>
                        </div>
                    </h1>

                    <p>Creating the face of a company's internet presence is a daunting task, but great workers can
                        achieve anything. I am experienced in web design, UI/UX, and FullStack Development.</p>

                    <div class="custom-btn-group mt-4">
                        <a href="https://docs.google.com/document/d/1KyXIlldgBt5CTJFey8Oaj4s6VCNd9xwYgiOTk0IfScE/edit?usp=sharing" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                        <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- PROJECTS -->
<section class="project py-5" id="project">
    <div class="container">

        <div class="row">
            <div class="col-lg-11 text-center mx-auto col-12">

                <div class="col-lg-8 mx-auto">
                    <h2>Things I have designed for friends and businesses</h2>
                </div>

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="project-info">
                            <img src="/images/project/unknown.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="/images/project/unknown.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="/images/project/unknown.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="/images/project/unknown.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="/images/project/unknown.png" class="img-fluid" alt="project image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- FEATURES -->
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Languages</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span><i class="fa-brands fa-python fa-2xl" style="color:rgb(252, 252, 15);"></i></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Python</span><small>Ole Reliable</small></h3>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span><i class="fa-brands fa-react fa-2xl" style="color:lightskyblue;"></i></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>React</span><small>The New Baby</small></h3>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span><i class="fa-solid fa-s"><i class="fa-solid fa-q"><i
                                            class="fa-solid fa-l"></i></i></i></i></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>NoSQL and SQL<small>Structure vs Winging It</small></h3>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span><i class="fa-brands fa-html5" style="color: orange"></i><i class="fa-brands fa-css3"
                                    style="color: skyblue"><i class="fa-brands fa-js"
                                        style="color:rgb(252, 252, 15)"></i></i></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>The Big 3<small>HTML5, CSS3, and JavaScript</small></h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2">Education</h2>

                <div class="timeline">

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2022</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Self-Taught Engineer</span><small>Hard Worker</small></h3>
                            <p><a rel="nofollow" target="_blank" href="https://www.discord.gg/illest">My Discord
                                    Server</a> is a place
                                me and other people have developed bots for discord through their documentation for
                                python and javascript.</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2017</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>FreeCodeCamp</span><small>HTML, CSS, JS Mastery</small></h3>
                            <p>A surprisingly short journey to gain a great grasp over what seemed to be daunting coding
                                languages at the beginning of my learning journey. A mountain that has been climbed and
                                conquered!</p>
                        </div>
                    </div>



                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2016</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Khan Academy</span><small>HTML5 Introduction</small></h3>
                            <p>The beginning of it all. Boredom in class led me to start watching basics on KhanAcademy just to pass time. Eventually I took this with me home and started making things for no reason other than enjoyment.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- CONTACT -->
<section class="contact py-5" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 mr-lg-5 col-12">
                <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=tampa%20florida+(My%20Business%20Name)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                            href="https://www.gps.ie/marine-gps/">shipping gps</a></iframe></div>

                <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                    <div class="contact-info-item">
                        <h3 class="mb-3 text-white">Where I'm Hiding</h3>
                        <p class="footer-text mb-0">813-xxx-xxxx</p>
                        <p><a href="mailto:wescashnet@gmail.com">kylcorp@kylix.co</a></p>
                    </div>

                    <ul class="social-links">
                        <li><a href="https://www.instagram.com/jswesu" target="_blank" class="uil uil-instagram"
                                data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                        <li><a target="_blank" href="https://www.twitter.com/wesujs" class="uil uil-laptop"
                                data-toggle="tooltip" data-placement="left" title="Twitter"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="contact-form">
                    <h2 class="mb-4">Thoughts of collaboration? Let's go!</h2>

                    <form action="https://formsubmit.co/wescashnet@gmail.com" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" id="name" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="email" class="form-control" name="email" placeholder="Email" id="email" required>
                            </div>

                            <div class="col-12">
                                <textarea name="message" rows="6" class="form-control" id="message"
                                    placeholder="Message"></textarea>
                                    <input type="hidden" name="_captcha" value="false">
                                    <input type="hidden" name="_next" value="<%= virtualLocation + "/thanks" %>">
                                    <input type="hidden" name="_subject" value="Work Inquiry!">
                            </div>

                            <div class="ml-lg-auto col-lg-5 col-12">
                                <input type="submit" class="form-control submit-btn" value="Send Now!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<%- include("partials/footer") %>