<%- include("partials/head") %>

<div class="jumbotron  text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">I will respond as soon as I am available!</p>
    <hr>
    <p class="lead">
      <a class="btn btn-warning btn-sm" href="<%= virtualLocation %> " role="button">Back to homepage</a>
    </p>
  </div>

<%- include("partials/footer") %>